.taskForm {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.6rem;
  position: relative;
}


.taskForm__input {
  width: 100%;
  padding: var(--padding-box-primary);
  color: var(--color-gray-500);
  font-size: var(--fz-base);
  font-weight: 500;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid var(--color-gray-200);
  appearance: none;
  border-radius: var(--border-radius-primary);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  line-height: 1;
  position: relative;
}

.taskForm__input:focus,
.taskForm__input:active,
.taskForm__input:target,
.taskForm__input:focus-visible {
  outline: 2px solid var(--color-primary);
}


.taskForm__btn {
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: .7rem;
  line-height: 1;
  top: 10%;
  display: inline-block;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 2px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;

font-size: 1.8rem;
font-weight: 700;
border-radius: 50px;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: var(--color-primary);
border-color: var(--color-primary);
word-wrap: normal;

}

.taskForm__btn:hover {
  color: #fff;
background-color: var(--color-primary);
border-color: var(--color-primary);
}
