.card {
  width: min(90vw , 40rem);
  min-height: 90vh;
  background-color: var(--color-gray-500);
  border-radius: var(--border-radius-primary);
  padding: 1.2rem 1.7rem;
  background: #e1eec3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.title-1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}

